In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("misdata.csv")

In [3]:
data

                 nombre
0           Samuel Pope
1          Jason Cooper
2          Jonathan Lee
3         David Johnson
4      Matthew Martinez
5            Anne Bates
6         Howard Miller
7       Tiffany Johnson
8           David Smith
9    Ms. Dawn Knapp DDS
10         Daniel Burke
11           David Haas
12       Michael Harper
13        Tonya Wheeler
14      Valerie Ramirez
15        Heather Jones
16      Melissa Ramirez
17        Michael White
18         Mike Johnson
19      Katelyn Shelton
20     Stephanie Murphy
21   Jennifer Mcconnell
22        Holly Pearson
23     Cassandra Thomas
24     Abigail Martinez
25      Brandon Esparza
26       Bradley Howard
27           Isaac Haas
28    Savannah Williams
29        Susan Osborne
30      Chelsea Goodwin
31            Eric Koch
32            Gina West
33        Julia Collier
34         James Walker
35    Steven Williamson
36         Sally Turner
37       James Anderson
38  Christopher Mendoza
39        Timothy Hogan
40           Dawn Marks
41        Tonya Elliott
42           Eric Smith
43      David Krause MD
44      Shelby Mcdonald
45     Brian Swanson MD
46         Megan Hansen
47   Alexander Caldwell
48     Crystal Williams
49      Stephanie Hicks
50        Maria Johnson

In [4]:
def obtener_inicial(d):
    cadena = d[0]
    return cadena

In [5]:
def obtener_mayuscula(d):
    cadena = d.upper()
    return cadena

In [6]:
data['inicial'] = data['nombre'].apply(obtener_inicial)

In [7]:
data

                 nombre inicial
0           Samuel Pope       S
1          Jason Cooper       J
2          Jonathan Lee       J
3         David Johnson       D
4      Matthew Martinez       M
5            Anne Bates       A
6         Howard Miller       H
7       Tiffany Johnson       T
8           David Smith       D
9    Ms. Dawn Knapp DDS       M
10         Daniel Burke       D
11           David Haas       D
12       Michael Harper       M
13        Tonya Wheeler       T
14      Valerie Ramirez       V
15        Heather Jones       H
16      Melissa Ramirez       M
17        Michael White       M
18         Mike Johnson       M
19      Katelyn Shelton       K
20     Stephanie Murphy       S
21   Jennifer Mcconnell       J
22        Holly Pearson       H
23     Cassandra Thomas       C
24     Abigail Martinez       A
25      Brandon Esparza       B
26       Bradley Howard       B
27           Isaac Haas       I
28    Savannah Williams       S
29        Susan Osborne       S
30      Chelsea Goodwin       C
31            Eric Koch       E
32            Gina West       G
33        Julia Collier       J
34         James Walker       J
35    Steven Williamson       S
36         Sally Turner       S
37       James Anderson       J
38  Christopher Mendoza       C
39        Timothy Hogan       T
40           Dawn Marks       D
41        Tonya Elliott       T
42           Eric Smith       E
43      David Krause MD       D
44      Shelby Mcdonald       S
45     Brian Swanson MD       B
46         Megan Hansen       M
47   Alexander Caldwell       A
48     Crystal Williams       C
49      Stephanie Hicks       S
50        Maria Johnson       M

In [8]:
data['mayuscula'] = data['nombre'].apply(obtener_mayuscula)

In [9]:
data

                 nombre inicial            mayuscula
0           Samuel Pope       S          SAMUEL POPE
1          Jason Cooper       J         JASON COOPER
2          Jonathan Lee       J         JONATHAN LEE
3         David Johnson       D        DAVID JOHNSON
4      Matthew Martinez       M     MATTHEW MARTINEZ
5            Anne Bates       A           ANNE BATES
6         Howard Miller       H        HOWARD MILLER
7       Tiffany Johnson       T      TIFFANY JOHNSON
8           David Smith       D          DAVID SMITH
9    Ms. Dawn Knapp DDS       M   MS. DAWN KNAPP DDS
10         Daniel Burke       D         DANIEL BURKE
11           David Haas       D           DAVID HAAS
12       Michael Harper       M       MICHAEL HARPER
13        Tonya Wheeler       T        TONYA WHEELER
14      Valerie Ramirez       V      VALERIE RAMIREZ
15        Heather Jones       H        HEATHER JONES
16      Melissa Ramirez       M      MELISSA RAMIREZ
17        Michael White       M        MICHAEL WHITE
18         Mike Johnson       M         MIKE JOHNSON
19      Katelyn Shelton       K      KATELYN SHELTON
20     Stephanie Murphy       S     STEPHANIE MURPHY
21   Jennifer Mcconnell       J   JENNIFER MCCONNELL
22        Holly Pearson       H        HOLLY PEARSON
23     Cassandra Thomas       C     CASSANDRA THOMAS
24     Abigail Martinez       A     ABIGAIL MARTINEZ
25      Brandon Esparza       B      BRANDON ESPARZA
26       Bradley Howard       B       BRADLEY HOWARD
27           Isaac Haas       I           ISAAC HAAS
28    Savannah Williams       S    SAVANNAH WILLIAMS
29        Susan Osborne       S        SUSAN OSBORNE
30      Chelsea Goodwin       C      CHELSEA GOODWIN
31            Eric Koch       E            ERIC KOCH
32            Gina West       G            GINA WEST
33        Julia Collier       J        JULIA COLLIER
34         James Walker       J         JAMES WALKER
35    Steven Williamson       S    STEVEN WILLIAMSON
36         Sally Turner       S         SALLY TURNER
37       James Anderson       J       JAMES ANDERSON
38  Christopher Mendoza       C  CHRISTOPHER MENDOZA
39        Timothy Hogan       T        TIMOTHY HOGAN
40           Dawn Marks       D           DAWN MARKS
41        Tonya Elliott       T        TONYA ELLIOTT
42           Eric Smith       E           ERIC SMITH
43      David Krause MD       D      DAVID KRAUSE MD
44      Shelby Mcdonald       S      SHELBY MCDONALD
45     Brian Swanson MD       B     BRIAN SWANSON MD
46         Megan Hansen       M         MEGAN HANSEN
47   Alexander Caldwell       A   ALEXANDER CALDWELL
48     Crystal Williams       C     CRYSTAL WILLIAMS
49      Stephanie Hicks       S      STEPHANIE HICKS
50        Maria Johnson       M        MARIA JOHNSON

In [10]:
data.to_csv("misdata2.csv")